<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping_distance>
            <general>
                <enabled>1</enabled>
                <google_server_api_key></google_server_api_key>
                <google_map_id></google_map_id>
                <store_lat>50.4501</store_lat>
                <store_lng>30.5234</store_lng>
                <price_per_km>1.00</price_per_km>
                <max_distance_km>100</max_distance_km>
                <search_country_codes></search_country_codes>
                <contact_email></contact_email>
            </general>
        </shipping_distance>
        <carriers>
            <distance_shipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Perspective\ShippingDistance\Model\Carrier\DistanceCarrier</model>
                <title>Distance Delivery</title>
                <name>Distance Delivery</name>
                <specificerrmsg>This shipping method is not available.</specificerrmsg>
            </distance_shipping>
        </carriers>
    </default>
</config>
